* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
}

.my-swiper {
  width: 400px;
  height: 400px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
/* Left container and all of its children*/

.left-child-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  border-right: solid rgba(128, 128, 128, 0.5);
  flex-shrink: 1;
  box-sizing: border-box;
}

/* The header of the left container, which contains profile name, 
  avatar and search icon */

  .profile-image-container {
    display: inline-block; /* Adjusted to inline-block */
    position: relative; /* Added */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensure the image covers the container */
}

.sign-in-link {
  margin-top: 10px;
  margin-left: 20px;
  text-decoration: none;
}

/* The banner container that consists of a message on how
   to find sponsors or sponsees */

.banner-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  border: solid rgba(128, 128, 128, 0.5);
  border-bottom: none;
  border-right: none;
}

.style-icon {
  margin-top: 20px;
  margin-left: 20px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 20px;
}

.unlock-text {
  margin-bottom: 0;
}

.unlock-subtext {
  margin-bottom: 0;
}

.messages-text-container {
  display: flex;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  width: 100%;
  border: solid rgba(128, 128, 128, 0.5);
  border-right: none;
}

.message-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
}

.sign-in-warning-message-mobile {
  display: none;
}

/* The right child container and all of its children */

.right-child-container {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  margin-bottom: 3vh;
  flex-shrink: 1;
  gap: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.sign-in-link-mobile {
  display: none;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

.sponsor-sponsee-buttons {
  margin: 10px;
}

.swipe-container {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}

.view-profile-button {
  margin-right: auto;
  margin-left: auto;
}

.swipe-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: auto;
}

.disabled-button {
  fill: "gray" !important;
}

.profile-image-mobile {
  display: none;
}

.profile-image-container-mobile {
  display: none;
}

.profile-header {
  display: flex;
  align-items: flex-end;
}

.profile-header-mobile {
  display: none;
}

.logout-container {
  position: relative;
  bottom: 0;
  right: 18px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  z-index: 3000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logout-container-mobile {
  display: none;
}

@media only screen and (max-width: 680px) {
  .banner-container {
    display: none;
  }

  .sign-in-warning-message {
    display: none;
  }

  .sign-in-warning-message-mobile {
    display: flex;
  }

  .logo-itself {
    margin-top: 2px;
  }
}

@media only screen and (max-width: 580px) {
  .left-child-container {
    display: none;
  }

  .user-picture {
    width: 250px;
    height: 250px;
  }

  .sign-in-link-mobile {
    display: unset !important;
    position: absolute;
    left: 10px;
    top: 10px;
    margin-right: 10px;
  }

  .profile-header-mobile {
    display: flex;
    align-items: flex-end;
  }

  .profile-image-container-mobile {
    display: inline-block; /* Adjusted to inline-block */
    position: relative; /* Added */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;

  }

  .profile-image-mobile {
    display: unset !important;
    width: 100%;
    height: 100%;
    object-fit: cover; /* ensure the image covers the container */
  }

  .logout-container-mobile {
    display: unset !important;
    position: relative;
    bottom: 0;
    right: 18px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    z-index: 3000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  }

}
