* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
}

.home-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
/* Left container and all of its children*/

.left-child-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  border-right: solid rgba(128, 128, 128, 0.5);
  padding-top: 10px;
  flex-shrink: 1;
  box-sizing: border-box;
}

/* The header of the left container, which contains profile name, 
  avatar and search icon */

.profile-header {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 0;
}

.sign-in-link {
  margin-top: 10px;
  margin-left: 20px;
  text-decoration: none;
}

/* The banner container that consists of a message on how
   to find sponsors or sponsees */

.banner-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
}

.style-icon {
  margin-top: 20px;
  margin-left: 20px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 20px;
}

.unlock-text {
  margin-bottom: 0;
}

.unlock-subtext {
  margin-bottom: 0;
}

.messages-text-container {
  display: flex;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  width: 100%;
  border: solid rgba(128, 128, 128, 0.5);
  border-right: none;
  margin-top: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
}

.sign-in-warning-message-mobile {
  display: none;
}

/* The right child container and all of its children */

.right-child-container {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  margin-bottom: 3vh;
  flex-shrink: 0;
  gap: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.sign-in-link-mobile {
  display: none;
}

.search-icon-mobile {
  display: none !important;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

.swipe-container {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}

.undo-button {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

.card {
  width: 80vw;
  height: 80vh;
  max-width: 400px;
  max-height: 400px;
  background-color: #fff;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
  background-image: url("../hacker.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* Add this line */
}

.card h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: white;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.swipe-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: auto;
}

@media only screen and (max-width: 680px) {
  .banner-container {
    display: none;
  }

  .sign-in-warning-message {
    display: none;
  }

  .sign-in-warning-message-mobile {
    display: flex;
  }

  .profile-header {
    justify-content: center;
  }

  .search-icon {
    display: none !important;
  }
}

@media only screen and (max-width: 580px) {
  .left-child-container {
    display: none;
  }

  .logo {
    justify-content: space-between;
  }

  .sign-in-link-mobile {
    display: flex;
    margin-left: 20px;
  }

  .search-icon-mobile {
    display: flex !important;
    margin-right: 20px;
  }

  .card {
    display: flex;
    min-width: 200px;
    min-height: 200px;
    flex-shrink: 2;
  }
}
